.DS_Store
.idea/
.vscode/
/www/*
/tmp/logs/*
/tmp/.composer/cache/*
!/tmp/logs/
!/tmp/run/
!/tmp/.composer/
/data/mysql/*
/data/redis/*
/data/nginx/*
!/data/nginx/certs/
!/data/nginx/default.conf.example
!/data/nginx/default.conf
!.gitkeep
.env